.department {
    cursor: pointer;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    stroke-width: .5px;
}

.department:hover {
    stroke-width: 2px;
}

div.chart-tooltip {
    position: absolute;
    opacity:0.8;
    z-index:1000;
    text-align:left;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    padding:8px;
    color:#fff;
    background-color:#000;
    font: 12px sans-serif;
    max-width: 300px;
    height: 60px;
}

#svg {
    display: block;
    margin: auto;
}

.select-field {
    margin-top: -3rem;
    margin-bottom: 5rem;
}
