.svg {
    display: block;
    margin: auto;
    background: #222b1d;
    color: #bebebe;
    font-family: "Lucida Console", Monaco, monospace;
}
    
.country {
    fill: #999;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.axis line {
    stroke: #c1d3b8;
}

.axis path {
    stroke: #c1d3b8;
}

.axis text {
    fill: #c1d3b8;
}