.svg {
    display: block;
    margin: auto;
    background: #3e3030;
    color: #ada0a0;
    font-family: "Lucida Console", Monaco, monospace;
}
    
.country {
    fill: #999;
    stroke: black;
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.axis line {
    stroke: #d3b8b8;
}

.axis path {
    stroke: #c77979;
}

.axis text {
    fill: #d3b8b8;
}