.svg {
    display: block;
    margin: auto;
    background: #ffffff;
    color: #eb3a3a;
    font-family: "Lucida Console", Monaco, monospace;
}
    
.country {
    fill: #999;
    stroke: rgb(250, 247, 247);
    stroke-width: 0.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.axis line {
    stroke: #000000;
}

.axis path {
    stroke: #c77979;
}

.axis text {
    fill: #000000;
}